name: Go

on:
  push:
    branches: [ main ]
    tags:
      - '*.*.*' # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches: [ main ]

jobs:
  generate:
    name: Generate cross-platform builds
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: '^1.23'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9.0.0
        if: false
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: v1.61.0

          # Optional: working directory, useful for monorepos
          # working-directory: somedir

          # Optional: golangci-lint command line arguments.
          args: --exclude-use-default
          # --issues-exit-code=0

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true

          # Optional: if set to true then the all caching functionality will be complete disabled,
          #           takes precedence over all other caching options.
          # skip-cache: true

          # Optional: if set to true then the action don't cache or restore ~/go/pkg.
          skip-pkg-cache: false

          # Optional: if set to true then the action don't cache or restore ~/.cache/go-build.
          # skip-build-cache: true

      - name: Test
        run: make test

      - name: Generate build files (amd64)
        run: |
          GOOS="linux"
          GOARCH="amd64"
          GOFLAGS="-buildmode=exe"
          NAME="fan2go-tui-${GOOS}-${GOARCH}"
          OUTPUT_BIN="dist/${NAME}"
          make build GOOS="${GOOS}" OARCH="${GOARCH}" GOFLAGS="${GOFLAGS}" OUTPUT_BIN="${OUTPUT_BIN}"

      - name: Generate build files (arm64)
        run: |
          GOOS="linux"
          GOARCH="arm64"
          GOFLAGS="-buildmode=exe"
          NAME="fan2go-tui-${GOOS}-${GOARCH}"
          OUTPUT_BIN="dist/${NAME}"
          make build GOOS="${GOOS}" OARCH="${GOARCH}" GOFLAGS="${GOFLAGS}" OUTPUT_BIN="${OUTPUT_BIN}"

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            dist/fan2go-tui-linux-amd64
            dist/fan2go-tui-linux-arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
